.article {
    font-family: 'Open Sans';
    background: rgba(255,255,255,0.90);
    margin-top: 20px;
    padding: 15px;
    color: black;

    h1, h2, h3, h4, h5, h6 {
        color: black;

    }

    a {
        color: #000000;
    }

    img {
        max-width: 100%;
    }
}
