.card-base {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;

    background: linear-gradient(90deg, rgba(255,255,255,0.2) 0%, rgba(44,44,44,0.30) 100%);
    color: white;
    font-weight: bold;

    text-align: center;
    vertical-align: middle; 
    justify-content: center;
    align-content: center;

    padding: 15px;
    margin-top: 25px;
    margin-bottom: 25px;

    font-size: 1.25em;
}
.card-base:hover {
    background: linear-gradient(90deg, rgba(255,255,255,0.3) 0%, rgba(44,44,44,0.40) 100%);
}

.fixed-card {
    @extend .card-base;

    width: 250px;
    height: 150px;
    margin-left: 25px;
    margin-right: 25px;
}

.dynamic-card {
    @extend .card-base;
}


.dynamic-card:hover {
    background: linear-gradient(90deg, rgba(255,255,255,0.6) 0%, rgba(44,44,44,0.70) 100%);
}
