<html>
    <head>
        <title>{{ .Site.Title }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans" />
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css" />

        {{ $baseSass := resources.Get "scss/honlsoft.scss" }}
        {{ $baseStyles := $baseSass | resources.ExecuteAsTemplate "base.scss" . | resources.ToCSS }}
        <link rel="stylesheet" href="{{ $baseStyles.RelPermalink }}" >

        {{ $imagesSass := resources.Get "scss/images.scss" }}
        {{ $imagesStyles := $imagesSass | resources.ExecuteAsTemplate "images.scss" . | resources.ToCSS }}
        <link rel="stylesheet" href="{{ $imagesStyles.RelPermalink }}" >

        {{ block "head" . }}{{ end }}
    </head>
    <body>
        <div id="cover-image">
            <div id="page">
                {{ partial "header.html" . }}

                <div id="content" class="flex-grow flex-col">
                    {{ block "content" . }}{{ end }}
                </div>

                {{ partial "footer.html" . }}
            </div>
        </div>
    </body>
</html>